<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="{% static 'assets/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style>
          .navbar-default.navbar-side {
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 1;
          width: 250px; /* sets the width of the sidebar */
        }
    </style>
</head>
<body>
<nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="{% static 'assets/img/ad.jpeg' %}" class="user-image img-responsive"/>
					</li>


                    <li>
                        <a class="active-menu"  href="/dashboard">Dashboard</a>
                    </li>
                     <li>
                     <a href="/product">Product Management<span class="fa arrow"></span></a>
                         <ul>
                             <li><a href="/country/">Country</a></li>
                             <li><a href="/brand/">Brand</a></li>
                             <li><a href="/category/">Category</a></li>
                             <li><a href="/product/">Product</a></li>
                         </ul>
                    </li>
                    <li>
                        <a  href="/oder_details/">Order Management<span class="fa arrow"></span></a>
                    </li>
                      <li  >
                        <a  href="/delivery_p">Delivery Partners<span class="fa arrow"></span></a>
                        <ul><li><a href="/delivery_p">Delivery Partner</a></li></ul>
                    </li>
                    <li  >
                        <a  href="/enquires/">Enquiries<span class="fa arrow"></span></a>
                    </li>
                </ul>

            </div>

        </nav>
    <div style="text-align: right;">
    <button><a href="/add_delivery_p" style="font-size: 20px; color: blue">Add New</a></button>
</div><div>
<table  align="right"  bgcolor="blue" width="80%" style="height: 50px;">
   <tr>
       <th>Personal ID</th>
    <th>Profile pic</th>
     <th>Name</th>
     <th>Email</th>
     <th>Ph_No</th>
     <th>User Name</th>
     <th>Password</th>
     <th>Created At</th>
     <th>Action</th></tr>
    {% for i in dp%}
       <tr>
         <td>{{i.dp_id}}</td>
                {% if i.dp_pic %}
            <td><img src="{{i.dp_pic.url}}" width="80" height="80"></td>
        {% else %}
            <td>No image</td>
        {% endif %}
         <td>{{i.dp_name}}</td>
         <td>{{i.dp_email}}</td>
         <td>{{i.dp_number}}</td>
         <td>{{i.dp_uname}}</td>
         <td>{{i.dp_password}}</td>
         <td>{{i.dp_date}}</td>
         <td><a href="/edit_dpartner/{{i.id}}">Edit</a>&nbsp;&nbsp;
         <a href="/delete_dpartner/{{i.id}}">Delete</a>
         </td>
        </tr>
    {%endfor%}
</table></div></body>
</html>